.buscador{
    padding: 10px;
    position: relative;
  }
  
  .item-buscador input{
    width: 100%;
    padding: 8px 40px;
    background: #1e1e1e;
    border: none;
    border-radius: 20px;
    color: white;
  }
  
  .item-buscador input::placeholder{
    color: white;
  }
  
  .icon-buscardor{
    position: absolute;
    top: 17px;
    left: 25px;
    color: white;
 }