*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.App{
  max-width: 375px;
  min-height: 100vh;
  margin: auto;
  background: black;
}

img{
  max-width: 100%;
}

button{
  border: none;
  background: none;
}